# Le vieux Fidèle

Le Old Faithful (« vieux fidèle » en anglais) est un geyser situé dans le parc national de Yellowstone, aux États-Unis. Ce geyser produit l'un des plus grands jets d'eau chaude et de vapeur au monde, avec le Strokkur islandais. https://www.youtube.com/watch?v=wE8NDuzt8eg https://www.youtube.com/watch?v=X4zA_YPCyHs

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/OldFaithful1948.jpg/1200px-OldFaithful1948.jpg">

Dans le fichier "faithful.csv", le séparateur est un point-virgule : il faut le préciser

geyser = pd.read_csv('faithful.csv', sep=';')

Que pouvez-vous observer sur la représentation en nuage de points (de type jointplot) ?

In [2]:
# Pandas : librairie de manipulation de données
# NumPy : librairie de calcul scientifique
# MatPlotLib : librairie de visualisation et graphiques
# SeaBorn : librairie de graphiques avancés
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

# Directive pour afficher les graphiques dans Jupyter
%matplotlib inline

In [4]:
geys=pd.read_csv("faithful.csv")

In [9]:
# Visualisation du début du dataframe
geys.tail()

    T_Eruption;T_Attente
267             4.117;81
268              2.15;46
269             4.417;90
270             1.817;46
271             4.467;74

In [8]:
geys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 1 columns):
T_Eruption;T_Attente    272 non-null object
dtypes: object(1)
memory usage: 2.2+ KB

In [6]:
sns.jointplot(geys.T_Eruption, geys.T_Attente, kind='kde')

AttributeError: 'DataFrame' object has no attribute 'T_Eruption'